.bookings-banner{
  width: 100%;
  height: 30vh;
  padding: 40px;
  background-image: url("/assets/bookings-banner.jpg");
  background-size: cover;
}

.enlistments-banner{
  width: 100%;
  height: 30vh;
  padding: 40px;
  background-image: url("/assets/enlistments-banner.jpg");
  background-size: cover;
}

.enlistments-banner h1{
  color: white;
  font-size: 50px;
}

.bookings-banner h1{
  color: white;
  font-size: 50px;
}

.banner-text {
  color: white;
  font-size: 18px;
}

.new-quest {
  display: block;
  margin: 0 auto;
}