
h1{
  color:rgb(140, 49, 182);
}

.index-container {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px auto;
  background-color: rgba(240, 240, 240, 0);
  // border: 1px solid #ccc;
  width: 100%;
}
