<!-- app/views/user/view_profile.html.erb -->
<h1>User Profile</h1>

<% if action_name == "view_purse" %>
  <h2>Purse</h2>
  <p>Coins: <%= @coins %></p>
<% end %>

<% if action_name == "view_stats" %>
  <h2>Stats:</h2>
  <p>Power</p>
<% end %>


<% if action_name == "view_abilities" %>
  <h2>Stats:</h2>
  <p>Power</p>
<% end %>
