.navbar {
  background-color: rgb(168, 139, 223);
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 50px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px; 
  margin-right: 5px;
}

.navbar-nav .nav-link:hover {
  color: rgb(107, 226, 107);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.welcome-text {
  color: white;
  font-size: 15px;
}